@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-accent: #c8fd6a;
  --brand-black: #19181d;
  --brand-white: #f9fbfa;
  --brand-gray-light: #f1f3f2;
}

@font-face {
  font-family: "PolySans";
  src: local(""), url("/fonts/PolySans-Median.woff2") format("woff2");
}

@font-face {
  font-family: "FH Oscar";
  src: local(""), url("/fonts/fhoscar-medium.woff2") format("woff2");
}

@layer base {
  html {
    @apply bg-brand-white dark:bg-brand-black;
    @apply text-brand-black dark:text-brand-white;
  }

  body {
    @apply bg-brand-white dark:bg-brand-black;
    @apply text-brand-black dark:text-brand-white;
  }
}

h1,
h2 {
  @apply font-polysans;
  letter-spacing: -0.01em;
}

p,
span,
div,
a,
li,
input,
textarea,
button {
  @apply font-fhoscar;
  letter-spacing: 0.01em;
}
